*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor:pointer;

}
.background{
    background:white;
    background-blend-mode:darken;
    background-size: cover;

}
li a{
    color: maroon;
}
.nav-list{
    width:70%;
    display: flex;
    align-items: center;
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 200px;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    font-size: large;
    font-weight: 700;
    color:black;
}
.nav-list li a:hover{
    color: grey;
}
.rightnav{
    width:30%;
    text-align:right;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}
.text-small{
    font-size: 22px;
}
.text-big{
    font-family: 'Piazolla',serif;
    font-size: 45px;
    font-weight: bold;
}

.firstsection{
    background-color:  lavenderblush;
    height: 400px;
}


.secondsection{
    background-color:lavender;
    height: 400px;
}



.thirdsection{
    background-color:lightyellow;
    height: 400px;
}


.fourthsection{
    background-color:lavenderblush;
    height: 400px;
}



.fifthsection{
    background-color:lavender;
    height: 400px;
}

.sixthsection{
    background-color:lightyellow;
    height: 400px;
}


.seventhsection{
    background-color:lavenderblush;
    height: 400px;
}
.center{
    text-align: center;
}