* {box-sizing: border-box}


.container {
  padding: 16px;
}
.head{
    padding: 16px;
  text-align: center;
}



input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background:lavender;
}

input[type=text]:focus, input[type=password]:focus {
  background-color:white;
  outline: none;
}


hr {
  border: 1px solid #0e0d0d;
  margin-bottom: 25px;
}


.registerbtn {
  background-color:saddlebrown;
  color: white;
  padding: 16px 20px ;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color:black;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}